{% extends "website/base.html" %}

{% block content %}
    <h1 id="Ex">Executives</h1>
    <div class="row">
        <div class="column">
            <h2>Bill gates</h2>
            <img src="/static/img/bill.jpg" alt="executive image" width="250" height="300">
            <P>Founder</P>
        </div>
        <div class="column">
            <h2>Nadella</h2>
            <div class="img">
            <img src="/static/img/Nadella-Satya.jpg" alt="executive image" width="250" height="300">
            </div>
            <p>Chief Executive Officer (CEO)</p>
        </div>
        <div class="column">
            <h2>Amy Hood</h2>
            <img src="/static/img/Amy-Hood.jpg" alt="executivet image" width="250" height="300">
            <p>Chief Financial Officer (CFO)</p>
        </div>
        <div class="column">
            <h2>Rajiv Sodhi</h2>
            <img src="/static/img/Rajiv-Sodhi-profile.jpg" alt="executive image" width="250" height="300">
            <p>Chief Operating Office (COO)</p>
        </div>
        <div class="column">
            <h2>Jim DuBois</h2>
            <img src="/static/img/jimdubois.jpg" alt="executive image" width="250" height="300">
            <p>Chief Information Officer (CIO)</p>
        </div>
        <div class="column">
            <h2>Chris Capossela</h2>
            <img src="/static/img/Chris-Capossela.jpg" alt="executive image" width="250" height="300">
            <P>Chief Marketing Officer (CMO)</P>
        </div>
    </div>

{% endblock  %}